.details-section {
  margin-top: 120px;
  padding: 0 40px;

}

.details-title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: #1e3a8a;
  margin-bottom: 40px;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.detail-card {
  background: rgb(221, 214, 214);
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: 0.3s;
  border: #0b0c0e;
}

.detail-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 35px rgba(0,0,0,0.15);
  border: #0b0c0e;
}

.detail-card h3 {
  color: #1e40af;
  margin-bottom: 8px;
}

.detail-card p {
  color: #475569;
}

@media (max-width: 900px) {
  .details-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .details-grid {
    grid-template-columns: 1fr;
  }
}