.nav-bar {
background-color: rgb(235, 227, 219);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 20px;
}
.nav-ul {
    display: flex;
    gap: 1rem;
}
.nav-ul li {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: darkolivegreen;
    color: beige;
}
.ham-menu {
    display: none;
}
@media screen and (max-width: 768px) {
    .ham-menu {
        display: inline-block;
    }
    .web-menu {
        display: none;
    }
    .mobile-menu {
        position: absolute;
        top: 30px;
        background-color: chartreuse;
        left: 0px;
    }
}
